<%= form_with(model: budget,
							html: { class: "form-edit-budget" }) do |form| %>

	<div class="column">
		<div style="display: flex;">
			<div style="width: 50%">
				<div class="field">
					<%= form.label :start_time, class: "label-edit" %>
					<%= form.text_field :start_time,
															value: budget.start_time&.strftime("%H:%M"),
															data: { controller: "time-picker" } %>
				</div>

				<div class="field">
					<%= form.label :end_time, class: "label-edit" %>
					<%= form.text_field :end_time,
															value: budget.end_time&.strftime("%H:%M"),
															data: { controller: "time-picker" } %>
				</div>

        <div class="field">
          <%= form.label :decoration, class: "label-edit" %>
          <%= form.collection_select :decoration_id, Decoration.all, :id, :name, prompt: 'Selecione uma decoração' %>
        </div>

        <div class="field">
          <%= form.label :cake_flavor, class: "label-edit" %>
          <%= form.text_field :cake_flavor %>
        </div>

        <div class="field">
          <%= form.label :main_course, class: "label-edit" %>
          <%= form.text_field :main_course %>
        </div>
			</div>

			<div style="width: 50%">
				<div class="field">
					<%= form.label :event_date, class: "label-edit" %>
					<%= form.text_field :event_date,
															value: budget.event_date.strftime("%d/%m/%y"),
															data: { controller: "date-picker" } %>
				</div>

				<div class="field">
					<%= form.label :guest_count, class: "label-edit" %>
					<%= form.number_field :guest_count, class: 'form-input' %>
				</div>

				<div class="field">
					<%= form.label :revenue, class: "label-edit" %>
					<%= form.number_field :revenue,
																value: budget.revenue,
																step: "0.01", class: 'form-input' %>
				</div>

        <div class="field">
          <%= form.label :expense, class: "label-edit" %>
          <%= form.number_field :expense, step: "0.01" %>
        </div>

        <div class="field">
          <%= form.label :suggestion, class: "label-edit" %>
          <%= form.text_field :suggestion, disabled: :true %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
			</div>
		</div>
	<div>
<% end %>