<div>
	<%= render 'shared/header_profile' %>

	<% flash.each do |type, message| %>
		<div class="flash <%= type %>"><%= message %></div>
	<% end %>

	<div style="padding: 20px 120px">
		<div>
			<div class="containerHeader">
				<h1 class="titulo-perfil"> <%= set_index_title %> </h1>

				<% if current_user.admin? %>
					<div style="display: flex; gap: 10px;">
						<%= link_to "Orçamentos pendentes", budgets_path(status: "PENDENTE"), data: { turbo_frame: "budgets_list" }, class: "btnFiltro" %>
						<%= link_to "Orçamentos confirmados", budgets_path(status: "CONFIRMADO"), data: { turbo_frame: "budgets_list" }, class: "btnFiltro" %>
						<%= link_to "Orçamentos finalizados", budgets_path(status: "FINALIZADO"), data: { turbo_frame: "budgets_list" }, class: "btnFiltro" %>
						<%= link_to "Todos os orçamentos", budgets_path, data: { turbo_frame: "budgets_list" }, class: "btnFiltro" %>
					</div>		
				<% else %>
					<%= link_to "Novo orçamento", new_budget_path, class: "btn-default-bgRosa-perfil" %>
				<% end %>
			</div>

				<% if current_user.admin? %>
					<%= form_with url: budgets_path, method: :get, data: { turbo_frame: "budgets_list" } do |f| %>
						<div class="row">
							<div class="field-filter">
								<%= f.select :period,
															[ 
																['Próximos eventos', 'next'],
																['Esta semana', 'this_week'],
																['Este mês', 'this_month'],
																['Próximos 30 dias', 'next_30_days'],
																['Este ano', 'this_year']
															],
															{ prompt: "Filtrar por" },
															{ 
																class: "form-select",
																onchange: "this.form.requestSubmit()",
              									data: { turbo_frame: "budgets_list" }
															 } %>															
							</div>

							<div class="search">
								<%= f.text_field :search, 
									placeholder: "Buscar por cliente ou evento...", 
									value: params[:search],
									class: "search-input" %>
								<%= f.submit "Buscar", class: "btnFiltro", style: "border: none;" %>
							</div>
						</div>
					<% end %>
				<% end %>

			<div class="containerReservas"  data-controller="reservations">
				<%= turbo_frame_tag "budgets_list", style: "width: 100%;" do %>
					<div class="listaDeReservas">
						<ul>
							<% @budgets.each do |budget| %>
								<li>
									<div class="colIconName">
										<%= render_budget_icon(budget) %>
										<%= button_tag "#{budget.event_type.name} #{budget.user.name if current_user.admin?} " %>

									</div>

									<p> <%= budget.event_date.strftime("%d/%m/%Y") %> </p>

									<div class="acaoReserva">
										<% unless budget.confirmed? && current_user.admin? %>
											<%= link_to confirm_budget_path(budget), method: :put, data: { confirm: "Tem certeza?" } do %>
												<%= image_tag "icons/check.svg", style: "width: 18px;" %>
											<% end %>
										<% end %>

										<%= link_to budget_path(budget), 
												data: { 
													turbo_frame: "budget_details",
													action: "click->reservations#hide"
												} do %>
											<%= image_tag "icons/eye.svg", style: "width: 18px;" %>
										<% end %>

										<%= link_to cancel_budget_path(budget), method: :put, data: { confirm: "Tem certeza?" } do%>
											<%= image_tag "icons/none.svg", style: "width: 18px;" %>
										<% end %>
									</div>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>

				<div class="visualizacaoReserva" data-reservations-target="color" >
					<div class="semReservaSelecionada" data-reservations-target="empty">
						<%= image_tag "balao.png" %>
						<h3>Selecione uma reserva para visualizar as informações aqui</h3>
					</div>

					<%= turbo_frame_tag "budget_details", class: "hidden", style: "height: 400px", data: { reservations_target: "selected" } do %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>