<p id="notice"><%= notice %></p>

<p>
  <strong>Event date:</strong>
  <%= @budget.event_date %>
</p>

<p>
  <strong>Guest count:</strong>
  <%= @budget.guest_count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @budget.status %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @budget.start_time.strftime("%H:%M:%S") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @budget.end_time.strftime("%H:%M:%S") %>
</p>

<p>
  <strong>Cake flavor:</strong>
  <%= @budget.cake_flavor %>
</p>

<p>
  <strong>Main course:</strong>
  <%= @budget.main_course %>
</p>

<p>
  <strong>Event type:</strong>
  <%= EventType.find(@budget.event_type_id).name %>
</p>

<p>
  <strong>Decoration:</strong>
  <%= Decoration.find(@budget.decoration_id).name if @budget.decoration_id.present? %>
</p>

<p>
  <strong>Suggestion:</strong>
  <%= @budget.suggestion %>
</p>

<% if @current_user.admin? %>
  <p>
  <strong>Profit:</strong>
  <%= @budget.profit %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @budget.revenue %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @budget.expense %>
</p>


<%= button_to 'Cancel', cancel_budget_path(@budget), method: :put %>
<%= button_to 'Confirm', confirm_budget_path(@budget), method: :put %>
<% end %>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
