<div>
	<%= render 'shared/header_profile' %>

	<% flash.each do |type, message| %>
		<div class="flash <%= type %>"><%= message %></div>
	<% end %>

	<div style="padding: 20px 120px">
		<div>
			<div class="containerHeader">
				<h1 class="titulo-perfil"> Minhas reservas </h1>
				<%= link_to "Novo orçamento", new_budget_path, class: "btn-default-bgRosa-perfil" %>
			</div>

			<div class="containerReservas"  data-controller="reservations">
				<div class="listaDeReservas">
					<ul>
						<% @budgets.each do |budget| %>
							<li>
								<div class="colIconName">
									<%= render_budget_icon(budget) %>
									<%= button_tag "#{budget.event_type.name}" %>
								</div>

								<p> <%= budget.event_date.strftime("%d/%m/%Y") %> </p>

								 <div class="acaoReserva">
										<%= link_to budget_path(budget), 
												data: { 
													turbo_frame: "budget_details",
													action: "click->reservations#hide"
												} do %>
											<%= image_tag "icons/eye", style: "width: 18px;" %>
										<% end %>

										<%= link_to cancel_budget_path(budget), method: :put, data: { confirm: "Tem certeza?" } do%>
											<%= image_tag "icons/none", style: "width: 18px;" %>
										<% end %>
									</div>
							</li>
						<% end %>
					</ul>
				</div>

				<div class="visualizacaoReserva" data-reservations-target="color" >
					<div class="semReservaSelecionada" data-reservations-target="empty">
						<%= image_tag "balao.png" %>
						<h3>Selecione uma reserva para visualizar as informações aqui</h3>
					</div>

					<%= turbo_frame_tag "budget_details", class: "hidden", style: "height: 400px", data: { reservations_target: "selected" } do %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>