<div class="header-profile">
  <div class="container-profile">
    <%= link_to root_path do %>
      <%= image_tag "Matriz (1).png", alt: "logo png" %>
    <% end %>

    <nav>
      <ul>
        <% if current_user&.role == "admin" %>
          <li>
            <%= link_to "Reservas", root_path %>
          </li>
          <li>
            <%= link_to "Métricas", root_path %>
          </li>
          <li>
            <%= link_to "Calendário", root_path %>
          </li>
          <li>
            <%= link_to "Decorações", root_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "Minhas Reservas", root_path %>
          </li>
        <% end %>

        <li>
          <%= link_to "Meus dados", user_path(current_user) %>
        </li>
      </ul>
    </nav>

    <div class="user-info">
      <i class="fa fa-bell" style="color: white; font-size: 18px;"></i>

      <%= link_to user_path(current_user), class: 'user' do %>
        <div class="user">
          <% if current_user&.photo.present? %>
            <%= image_tag current_user.photo, alt: "avatar", width: 50, style: "border-radius: 100%;" %>
          <% else %>
            <%= image_tag "avatar.png", alt: "avatar", width: 50 %>
          <% end %>

          <p><%= current_user&.name %></p>
        </div>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete, class: "logout-btn" do %>
        <%= image_tag "icons/logout.svg", style: "width: 18px;" %>
      <% end %>
    </div>
  </div>
</div>
