<div id="duvidas" class="container-faq">
  <h1 class="titulo-principal">DÚVIDAS FREQUENTES</h1>
  <div class="hr-faq"></div>
  <p class="descricao">Ficou com dúvidas? Confira aqui</p>

  <div class="perguntas">
    <%= render "questions",
          titulo: "Quantos convidados o buffet pode acomodar?", 
          resposta: "Nosso buffet pode acomodar até 150 convidados com total conforto e elegância." %>

    <%= render "questions",
          titulo: "Posso fazer uma visita antes de reservar?", 
          resposta: "Sim, você pode agendar uma visita para conhecer nosso espaço antes de fazer a sua reserva. Além disso, oferecemos a opção de marcar uma degustação do nosso cardápio em um dia de evento, para que você possa experimentar a qualidade e variedade dos pratos que servimos." %>

    <%= render "questions",
          titulo: "Existe um limite de horário para os eventos?", 
          resposta: "Não, não há um limite de horário para os eventos, mas é necessário combinar previamente os horários de início e término." %>

    <%= render "questions",
          titulo: "O buffet oferece pacotes promocionais?", 
          resposta: "Sim, o buffet oferece pacotes promocionais de tempos em tempos. As promoções são publicadas tanto em nossas redes sociais quanto aqui no site." %>

    <%= render "questions",
          titulo: "O buffet oferece serviços de decoração temática?", 
          resposta: "Sim, oferecemos serviços de decoração temática baseados no tipo de evento." %>
  </div>
</div>
