<%= render "shared/header" %>

<div class="containerBanner">
	<%= render "slideshow_home" %>
</div>
<div class="container">
	<%= render "events" %>
	<%= render "steps" %>
  <%= render "faq" %>
</div>

<%= render "shared/footer" %>
