<div class="container1">
  <div class="containerGeral">
    <%= render "shared/button_back" %>
    <div class="container-login">
      <h1 class="titulo-login" >LOGIN</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
        <div class="containerInputs">
          <%= f.label :email, class: "label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

          <%= f.label :password, class: "label" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="remember-me">
            <%= f.check_box :remember_me, class: "checkbox" %>
            <%= f.label :remember_me, t(".remember_me") %>
          </div>
        <% end %>

          <% if flash[:alert].present? %>
            <p class="error"><%= flash[:alert] %></p>
          <% end %>

        <%= f.submit t(".sign_in"), class: "btn-default-bgRosa btnEntrar" %>

        <div class="shared-link-login">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="containerBanner-login">
    <div class="containerLogo">
      <%= image_tag "Matriz (1).png", class: "logoBuffet", alt: "" %>
    </div>
  </div>
</div>
